[Unit]
Description=52Pi OLED Display Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/opt/ballbot/venv/bin/python /opt/ballbot/oled_display.py --width 128 --height 32
Restart=always

[Install]
WantedBy=multi-user.target
