[submodule "firmware"]
	path = firmware
	url = https://github.com/atticusrussell/linorobot2_hardware.git
[submodule "src/ball_tracker"]
	path = src/ball_tracker
	url = https://github.com/atticusrussell/ball_tracker.git
[submodule "docs/third_party/dofbot-pro"]
	path = docs/third_party/dofbot-pro
	url = https://github.com/YahboomTechnology/DOFBOT-Pro
[submodule "docs/third_party/dofbot-se"]
	path = docs/third_party/dofbot-se
	url = https://github.com/YahboomTechnology/DOFBOT-SE
[submodule "third_party/dofbot-pro/New_Code/Orin/DofbotPro_source/CH341SER"]
	path = third_party/dofbot-pro/New_Code/Orin/DofbotPro_source/CH341SER
	url = https://github.com/clhchan/CH341SER.git
[submodule "third_party/dofbot-pro/New_Code/Orin/DofbotPro_source/ultralytics"]
	path = third_party/dofbot-pro/New_Code/Orin/DofbotPro_source/ultralytics
	url = https://github.com/ultralytics/ultralytics.git
[submodule "third_party/dofbot-pro/Old_Code/Orin_Nano_Dofbot_Pro/ar_track_ws/src/ar_track_alvar"]
	path = third_party/dofbot-pro/Old_Code/Orin_Nano_Dofbot_Pro/ar_track_ws/src/ar_track_alvar
	url = https://github.com/machinekoder/ar_track_alvar.git
